#--------------------------------------
# Local build folders
#--------------------------------------
[Bb]uild
[Bb]in
[Oo]bj
Binaries
Objects

#--------------------------------------
# Object/temporary files
#--------------------------------------
*.o
*.bak
*.old

#--------------------------------------
# Log files
#--------------------------------------
compile-lexerlog.txt
compile-parserlog.xml

#--------------------------------------
# Code::Blocks files
#--------------------------------------
*.cbp
*.depend
*.layout

#--------------------------------------
# Visual Studio files
#--------------------------------------
*.suo
*.vbproj.user
*.layout
.vs/

#--------------------------------------
# Provisional files/folders
#--------------------------------------
\[*\]
\[*\].*
